#flipBook {
    position: relative;
}

#flipBook h2 {
    color: white;
    text-align: center;
    background-color: #333233;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

#flipBook .card {
    min-height: 100px;
    padding: 20px;
}

#flipBook .card p {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

#flipBook .card .view-btn {
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #e60b2f;
    color: white;
    cursor: pointer;
    gap: 5px;
}

#flipBook .card .view-btn iconify-icon {
    font-size: 20px;
}

#flipBook .card .view-btn:hover {
    background-color: #b41832;
}

#flipBook .add-btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
}

#flipBook .add-btn:hover {
    background-color: #333233;
}

#flipBook .loader-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

#flipBook .flipbook-card {
    position: relative;
}

#flipBook .remove-btn {
    position: absolute;
    right: -10px;
    top: -10px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 14px;
}

#flipBook .remove-btn:hover {
    background-color: grey;
}

#flipBook .loader {
    width: 90px;
    --b: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #ffffff;
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg),
        radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: l5 1s infinite;
}

@keyframes l5 {
    to {
        transform: rotate(.5turn)
    }
}