#mainPage .card {
    min-height: 200px;
    background-color: white;
    gap: 20px;
    padding: 40px 10px;
}

#mainPage .row {
    min-height: 100vh;
}

#mainPage .invoice-generation,
#mainPage .admin-panel,
#mainPage .flipbook-generation {
    border: none;
    outline: none;
    background-color: #333233;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    transform: 0.2s;
    gap: 10px;
}

#mainPage iconify-icon {
    font-size: 25px;
}

#mainPage .invoice-generation:hover,
#mainPage .admin-panel:hover,
#mainPage .flipbook-generation:hover  {
    background-color: transparent;
    color: #333233;
    border: 1px solid #333233;
}